# Preprocesamiento de datos con python
## FES ARAGON
### ICO
#### Luis Alejandro Romero Mart√≠nez

In [1]:
import pandas as pd

In [35]:
#Descargar el conector de mysql y la libreria sqlachemy

! pip install mysql-connector-python sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\pc\appdata\roaming\python\python310\site-packages (8.0.33)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\pc\appdata\roaming\python\python310\site-packages (from mysql-connector-python) (3.20.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)

In [30]:
from sqlalchemy import create_engine

us = 'fesalu'
passwd = 'bdfes2023'
url = 'bd.arcelia.net'
puerto = '3306'
bd = 'bdcolegiosource'
auth = 'mysql_native_password'

str_conn = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
str_conn = str_conn.format(us, passwd, url, puerto, bd, auth)
str_conn

'mysql+mysqlconnector://fesalu:bdfes2023@bd.arcelia.net:3306/bdcolegiosource?auth_plugin=mysql_native_password'

In [31]:
conn = create_engine(str_conn)
conn

ModuleNotFoundError: No module named 'mysql'

In [32]:
sql = '''SELECT * FROM Alumnos WHERE DATE(fnac) >=  %s'''
df_mysql = pd.read_sql_query(sql=sql, con=conn,params=['2000-01-01'])

NameError: name 'conn' is not defined

In [33]:
df_mysql

NameError: name 'df_mysql' is not defined